body{
    background-image: url('../websitetascott.github.io/Images/background.png');
    background-position-x: 150rem;
    background-position-y: 90rem;
}


.sixers{
    position: relative;
    right: 100px;
    top: 100px;
}

.basket{
    position: relative;
    width: 300px;
    height: 168px;
    left: 600px;
    top: 100px;
}

.coin{
    position: relative;
    width: 300px;
    height: 168px;
    left: 400px;
    top: 100px;
}

.history{
    position: relative;
    width: 300px;
    height: 168px;
    left: 500px;
    top: 100px;
}