.bckimg{ 
    background-image: url('../img/wood.jpg')
}

h1{ 
    color : azure;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.ai{ 
  position : relative;
  left : 60px;
}

.aimg{
    position : relative;
    left: 0px;
    bottom: 0px;
}

img{
    border : 5px solid rgb(0, 0, 0);
    box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.75);
    height : 500px;
    width : 400px
}

.drj{ 
    position: relative;
    left : 450px;
    bottom : 604px;
}

.je{ 
    position : relative;
    left : 510px;
    bottom : 604px;
}

.bark{ 
    position : relative;
    left : 900px;
    bottom : 1208px;
}

.cb{
    position : relative;
    left : 960px; 
    bottom : 1208px;
}

.moses{ 
    position : relative;
    left : 1350px;
    bottom : 1812px;
}

.mm{
    position : relative; 
    left: 1410px;
    bottom : 1812px;
}

.mut{ 
    position : relative;
    left : 0px;
    bottom : 1800px;
}

.dm{ 
    position : relative;
    left : 30px;
    bottom : 1800px;

}

.mo{
    position : relative;
    left : 450px;
    bottom : 2404px;

}

.mc{
    position : relative;
    left : 510px; 
    bottom : 2404px;


}